.kitteh{
	border-color:#40e0d0;
	border-radius:7px;
	border-style:solid;
	border-size:5px;
	font-size: 1.5em;
}
.kitteh2{
  font-size: 1.5em;
}

*{
	font-family:'Lato', sans-serif;
	color:#008b8b;	
	background-color: #ffdead;
	text-align:center;
}

  #left, #right {
    cursor: pointer;
    border-style: solid ;
    width: 200px;
    height:200px;
    z-index:12;
}

#flexbox{
	display:flex;
	flex-direction:row;
	flex-flow:flex-start;
	margin:auto;
	padding:auto;
	justify-content:space-around;
}

  #middle{
  	cursor:pointer;
  	width:125px;
  	height:125px;
  	border-radius:6.5px;
  	border-color:black;
  	border-style:solid;
  }
section>img{
	width:200px;
	height:200px;
}